.select2-search__field {
    line-height: 1;
}

.vpd-icon-btn svg {
    height: 2.37989rem;
}

.ltr {
    direction: ltr;
}

* {
    text-decoration: none !important;
}


.select2-container--default .select2-selection--multiple{
    border-radius: 5px!important;
    font-size: 10pt!important;
    background-color: rgba(191, 215, 237, 1)!important;
    border-color: rgba(191, 215, 237, 1)!important;
    height: auto!important;
    padding: 8px!important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice{
    background-color: rgba(191, 215, 237, 1)!important;
    border-radius: 5px!important;
    color: black!important;
}
